name: Clippy

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/clippy.yml"
  pull_request:
    paths:
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/clippy.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/cargo-cache

      - run: rustup component add clippy

      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
